*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Playfair Display, serif;
	color: #626262;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
/**header start**/
.logo{
	width: 12%;
	float: left;
}
.logo img{
	width: 100%;
	margin-top: 13px;
}
.manu{
	width: 60%;
	float: right;
}
.manu ul{
	float: right;
}
.manu ul li{
	list-style-type: none;
	float: left;
}
.manu ul li a{
	text-transform: uppercase;
	color: #626262;
	border-bottom: 2px solid white;
	border-bottom-color: transparent;
	text-decoration: none;
	display: inline-block;
	margin: 17px 55px;
	transition:.5s;
}
.manu ul li:last-child a{
	padding-right: 0;
	margin-right: 0;
}
.manu ul li a:hover{
	color:black ;
	border-bottom: 2px solid black;
}
/**header end**/
/**banner start**/
.banner{
	margin: 85px 0;
}
.b_img img{
	width: 100%;
}
/**banner end**/
/**getaway section start**/
.getaway{
	margin: 85px 0;
}
.container{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.content{
	font-family: Ubuntu, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #b4ad9e;
	margin: 20px 0;
	text-transform: uppercase;
}
.title{
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 30px;
}
/**getaway section end**/
/**blog-1 section start**/
.blog{
	margin: 85px 0;
}
.single{
	width: 47%;
	float: left;
}
.single img{
	width: 100%;
}
.item1-4:nth-child(even){
	margin-left: 52px;
}
/**blog-1 section end**/
/**newslatter section start**/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.singup{
	text-align: center;
}
.s_title{
	color: #333333;
}
.s_form{
	width: 400px;
	margin: 0 auto;
	position: relative;
}
.s_form input{
	font-family: Playfair Display, serif;
	font-size: 14px;
	color: #626262;
	width: 360px;
	height: 45px;
	border: none;
	border-bottom: 1.5px solid #333333;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 43px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	border: none;
	background: transparent;
	cursor: pointer;
	position: absolute;
	top: 16px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}
/**newslatter section end**/
/**blog-2 section start**/
.blog2{
	margin: 85px 0;
}
.item5{
	float: left;
}
.item6{
	float: right;
}
/**blog-2 section end**/
/**button section start**/
.btn{
	text-align: center;
}
.btn button{
	font-family: Playfair Display, serif;
	font-size: 17px;
    color: #626262;
    background: transparent;
    border: none;
    border: 1px solid black;
    padding: 14px 28px;
    cursor: pointer;
    transition: .4s;
}
.btn button:focus{
	outline: 0;
}
.btn button:hover{
	border:1px solid white;
	color: black;
	border-color: transparent;
	box-shadow: 2px 2px 5px gray;
}
/**button section end**/
/**footer start**/
.footer{
	background-color: #f0f0f0;
	padding: 30px;
	margin-top: 120px;
}
.footer_text{
	width: 50%;
	float: left;
}
.footer_text ul{
	list-style-type: none;
	overflow: hidden;
}
.footer_text ul li{
	float: left;
}
.footer_text ul li a{
	text-decoration: none;
	color: black;
	margin-right: 20px;
}
.footer_text ul li a:hover{
	color: #626262;
}
.footer_link{
	width: 49%;
	float: right;
	text-align: right;
}
.footer_link img{
	margin-left: 10px;
}
/**footer end**/
